body {
  background-color: black;
}
.jspsych-display-element {
  font-size: 28px;
  color: white;
}
.jspsych-content {
  max-width: 65%; 
}
img {  
  width: 75%;
  height: auto;
  object-fit: contain;
}